<section  ng-controller="telephones">
	<article class='col-md-6'>
		<h1 class="text-center">Telephones</h1>
		<div class="form-group">
		    <input type="text" class="form-control" placeholder="Search name" ng-model="search.Name">
		  </div>
		<table class="table table-striped">
			<thead class="thead">
				<tr>
					<th>name</th>
					<th>age</th>
					<th>number</th>
				</tr>
			</thead>
			<tbody > 
				<tr ng-repeat="telephones in telephoness | filter:search">
					<td>{{telephones.Name}}</td>
					<td>{{telephones.age}}</td>
					<td>+{{telephones.Number}}</td>
					<td style="width:20px;cursor: pointer;">
						<!-- <span class="glyphicon glyphicon-remove" ng-click="telephoneDelete(telephones.ID)"></span> -->
						<span class="glyphicon glyphicon-remove" ng-click="telephoneDelete($index)"></span>

					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<article class='col-md-6'>
		<h1 class="text-center">Add new telephone</h1>
		<form ng-submit="telephoneSend()">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="telephone.name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Age</label>
		    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="age" ng-model="telephone.age">
		  </div>
		  <div class="form-group">
		    <label for="number">Number</label>
		    <input type="text" class="form-control" id="number" placeholder="number" ng-model="telephone.number">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</article>
</section>