<section  ng-controller="telephone">
	<h1>telephnes</h1>
	<article ng-repeat="telephones in telephones">
		<h1>
			{{telephones.name}}
		</h1>
		<p>
			{{telephones.number}}
		</p>
	</article>
</section>